.about-us {
    background-color: #f4f4f4;
  }
  
  /* Introduction Section */
  .intro-section-with-background {
    background: url('../../images/about1.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0;
    display: flex;
    justify-content: center; /* Center the text card */
    align-items: center;
    min-height: 400px;
    position: relative;
    width: 100vw; /* Use full viewport width */
  }
  
  /* Adjusting text card for better mobile UX */
  .text-card {
    background-color: rgba(0, 0, 0, 0.7); /* Light background for readability */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Elevation effect */
    max-width: 90%; /* Use most of the available width */
    margin: 0 auto; /* Center the card */
    text-align: justify;
    margin-top: 40px;
  }
  
  .text-card h1 {
    font-size: 4.5rem;
    color: #f3c647;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(231, 201, 28, 0.5)
  }
  
  .text-card p {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #FFFFFF;
  }
  
  .text-card p strong {
    color: #f3c647;
  }
  
  /* Hover effect for card */
  .text-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

  .foundation-info { /* White background */
    padding: 20px; /* Adequate padding */
    border-radius: 12px; /* Rounded corners */
    border: 1px solid #f3c647; /* Light border */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    text-align: center; /* Center align text */
    max-width: 400px; /* Set maximum width */
    margin: 20px auto; /* Center horizontally with auto margins */
    font-family: 'Arial', sans-serif; /* Modern font */
  }
  
  .foundation-info strong {
    color: white; /* Dark color for the headings */
    display: block; /* Each item on a new line */
    margin-bottom: 5px; /* Space below each heading */
    margin-top: 10px;
  }
  
  .foundation-date,
  .foundation-area {
    color: #f3c647; /* Stylish blue for the details */
    font-weight: bold; /* Bold for emphasis */
    font-size: 1.5em; /* Slightly larger font size */
    margin-bottom: 8px; /* Space below each detail */
  }
  
  @media (max-width: 480px) {
    .foundation-info {
      padding: 15px; /* Adjust padding for smaller screens */
      max-width: 90%; /* Make it responsive */
    }
  }
  
  
  
  
  /* Media Queries for Mobile */
  @media (max-width: 768px) {
    .intro-section-with-background {
      padding: 50px 0;
      background-position: top center;
      min-height: 300px;
      width: 100vw; /* Ensure full width for mobile */
    }
  
    .text-card {
      max-width: 100%; /* Take up more width on smaller screens */
      padding: 20px;
      margin-top: 50px;
    }
  
    .text-card h1 {
      font-size: 2.5rem;
    }
  
    .text-card p {
      font-size: 1rem;
    }
  }
  