.our-chapters-section {
    text-align: center;
    padding: 50px 0;
  }
  
  .page-heading {
    text-align: center;
    font-size: 5rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .page-heading-about {
    text-align: center;
  font-size: 5rem;
  color: #f3c647;
  font-weight: 600;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .page-heading::before {
    position: absolute;
    top: 50%; /* Center vertically with the main heading */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(1.2); /* Center and scale the background text */
    font-size: 10vw; /* Use viewport width for responsiveness */
    color: rgba(243, 198, 71, 0.7); /* Light golden color for the shadow effect */
    z-index: -1; /* Ensure the background text stays behind */
    white-space: nowrap; /* Ensure the background text stays in a single line */
    font-weight: bold;
    
  }
  

  
  /* Card styles remain unchanged */
  .custom-card-home {
    background-color: #f9f4dc; /* Light golden background */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-style: solid;
    border-width: 0 0 5px 5px; /* Half border */
    border-color: #f3c647 transparent transparent #f3c647; /* Golden color for left and bottom */
    transition: box-shadow 0.3s ease;
  }
  
  .custom-card-home:hover {
    box-shadow: 0px 8px 15px rgba(163, 126, 44, 0.5); /* Golden shadow on hover */
  }
  
  .card-title {
    font-size: 28px;
    font-weight: bold;
    color: #f3c647; /* Gold color */
    margin-bottom: 20px;
  }
  
  .card-text {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
  }


  .join-us-button {
    background-color: linear-gradient(135deg, #f3c647, #ff8c00); /* A more pronounced golden button */
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bolder;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 10;
    position: relative;
  }
  
  .join-us-button:hover {
    color: white !important;
    background-color: #d48806 !important; /* A richer golden-brown on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  

  @media (max-width: 768px) {
    .page-heading,
    .page-heading-about{
      font-size: 2.5rem;
    }
  }